body{
    background-color: #24353F;
}

h1{
    font-family: "Titillium Web", sans-serif;
    color: 
    rgb(23, 162, 184);
}

.groub{
    background-color: #24353F;
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}



.form-control::placeholder{
   color: white;
   opacity: 0.7;
   
}

a{
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    text-decoration:underline;
}